.clients__list {
  @include flex();
}

.clisents__item {
  @extend %mr-30;
}

.clients__link {
  @include flex();
  width: 170px;
  height: 92px;
  border: 1px solid var(--gray-color);
  border-radius: 4px;
  color: var(--gray-color);
  transition: border-color 250ms var(--transition-timing),
    color 250ms var(--transition-timing);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
