@mixin flex(
  $justifyContent: center,
  $alignItems: center,
  $display: flex,
  $flexDirection: row
) {
  display: $display;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}
